	<script src="http://dev.jquery.com/view/tags/ui/latest/ui/effects.core.js"></script> 
	<script src="http://dev.jquery.com/view/tags/ui/latest/ui/effects.slide.js"></script> 
  <%= javascript_include_tag 'supersized.2.0.js' %>
  <%= javascript_include_tag 'imtv.js' %>
  <%= javascript_include_tag 'jquery.form.js' %>
  
	<script type="text/javascript">  
		$(function(){
			$.fn.supersized.options = {  
				startwidth: 640,  
				startheight: 480,
				vertical_center: 1,
				slideshow: 1,
				navigation: 1,
				transition: 1, //0-None, 1-Fade, 2-slide top, 3-slide right, 4-slide bottom, 5-slide left
				pause_hover: 0,
				slide_counter: 0,
				slide_captions: 0,
				slide_interval: 3000  
			};
	        $('#supersize').supersized(); 
	    });
	</script> 

 
<!--Loading display while images load--> 
<div id="loading">&nbsp;</div> 
 
<!--Slides--> 
<div id="supersize"> 
  <% @video.video_images.reverse.each do |image| %>
    <a href="#"><img src="<%= image.url %>" title="Contrib Here"/></a> 
  <% end %>
</div> 
 
<!--Content area that hovers on top--> 
<div id="content"> 
	<div id="contentframe"> 

    	<!-- logo -->
        <div id="logo">
        	<img src="/images/logo.png" width="200px" />
        </div>

  
  <div style="padding-top: 30px;padding-left: 20px;">  
   <audio controls="controls" autoplay="autoplay">
   <source src="<%= @video.audio_url %>" type="audio/mpeg" />
   Your browser does not support the audio element, you suck!
   </audio>
 </div>


        <!-- search input -->
    	<div id="search">
    		<input type="text" class="search" placeholder="Search your videos" name"q" autofocus required/>
	    	<input type="submit" value="GO" class="submit" onclick="fire();" /> 
    	</div>
        <!-- / search input -->
        
        <!-- search results -->
        <div id="searchResults">
        	<script type="text/javascript">        			
				function fire() {
						$.getJSON("http://api.flickr.com/services/rest/?method=flickr.photos.search&api_key=7ccccc8f3fe6e78aa9c23ec60660c0a7&tags=" + $('input.search').val() + "&per_page=10&format=json&callback=?&jsoncallback=flickrhandler");
				  };
				  
				function flickrhandler (data) {
					 var s=""
					 for (var i=0; i < data.photos.photo.length; i++) {
						  photo = data.photos.photo[i];
							t_url = "http://farm" + photo.farm + ".static.flickr.com/" +  photo.server + "/" + photo.id + "_" + photo.secret + "_" + "t.jpg";
							p_url = "http://www.flickr.com/photos/" + photo.owner + "/" + photo.id;
							s+=  '<a href="#" onClick="addImage(\'' + t_url + '\')">' + '<img alt="'+ photo.title +  '"src="' + t_url + '"/>' + '</a>';
					 }
					$('.images').html(s);
				  }
			</script>
            
            <div class="images">
	        </div>
        </div>
        <!-- / search results -->

        <div style="display:none">
          <%= form_tag video_add_image_path(@video) do %>
            <input type="hidden" name="url" id="form_image_url"/>
          <% end %>
        </div>
        
        <script>
          function addImage(new_url) {
            $('#supersize').prepend('<a href="#"><img src="' + new_url + '"/></a>');
            var currentslide = $('#supersize .activeslide');
	          currentslide.removeClass('activeslide');
            nextslide();

            $('#form_image_url').val(new_url);
            $('form').ajaxSubmit();

            $('.images').html('')
            $('#searchResults').fadeOut();
            return false;
          }
        </script>
          
	</div> 
</div> 
  
